# URL Pelaporan Akuisisi setelah di-deploy
NEXT_PUBLIC_PELAPORAN_URL=https://pelaporan-akuisisi.vercel.app

# URL Portal Akuisisi Merchant (sudah live)
NEXT_PUBLIC_MERCHANT_URL=https://portal-akuisisi-merchant.vercel.app
